@charset "UTF-8";
/* CSS Document */
body {
	text-align: center;
	background-color: azure;  
}
a {
	padding: 15px;
	margin: 5px;
	font-size: 125%;
	background-color:  cornflowerblue; 
	color:  black;

}
a:hover {
	font-size:200%;
	background-color: lightyellow; 
	color: darkblue; 
}


